<h1>Listing Orders</h1>
<table>
  <tbody>
    <% @orders.each do |order| %>
    <div class="col-sm-3"><br>
    	<div class="card">
    		<div class="card-body">
	   <dd><b>Order Id: </b><%= order.id %></dd>
	   <dd><b>User Id: </b><%= order.user_id %></dd>
	   <dd><b>User Name: </b><%= order.user.name %></dd>
	   <dd><b>User Address: </b><%= order.user.address %></dd>
	    <dd><b>Items:</b> <% order.line_items.each do |line_item| %>
	      <%= line_item.book.title  %></dd>
	    <% end %>
	  </div>
	</div>
</div>
	  <% end %>
	

</tbody>
</table><button>