<h3>Orders :</h3>
<div class="row">
<% @orders.each do |order| %>
<div class="col-sm-3"><br>
  <div class="card">
  	<div class="card-header">
  		<b>Order placed at : </b><%= order.created_at.strftime("%b %d, %Y") %>
  	</div>
    <div class="card-body">
      <p><b>Name: </b><%= order.user.name %></p>
      <p><b>E-mail: </b><%= order.user.email %></p>
      <p><b>Telephone: </b><%= order.user.telephone %></p>
      <p><b>Address: </b><%= order.user.address %></p>
      
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody id="cart-table">
              <% order.line_items.each do |line_item| %>
                <tr>
                  <td><%= line_item.book.title %></td>
                  <td class="quantity"><%= line_item.quantity %></td>
                  <td><%= number_to_currency(line_item.total_price) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <h5 id="total" align="center" class="text-muted">
            Total: <%= number_to_currency(@cart.total_price) %>
          </h5>
    </div>
  </div>
</div>
<% end %>
</div>
