<div class="col-sm-3"><br>
  <div class="card">
    <div class="card-body">
      <p><b>Name:-</b>-<%= current_user[:name] %></p>
      <p><b>E-mail:-</b><%= current_user[:email] %></p>
      <p><b>Telephone:-</b><%= current_user[:telephone] %></p>
      <p><b>Address:-</b><%= current_user[:address] %></p>

        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody id="cart-table">
              <% @cart.line_items.each do |line_item| %>
                <tr>
                  <td><%= link_to line_item.book.title, line_item.book %></td>
                  <td class="quantity"><%= line_item.quantity %></td>
                  <td><%= number_to_currency(line_item.total_price) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <h5 id="total" align="center" class="text-muted">
            Total: <%= number_to_currency(@cart.total_price) %>
          </h5>
          <center><%= link_to 'Place Order', orders_path(cart_id: @cart.id), method: :post %></center>
      
    </div>
  </div>
</div>