</br>
</br></br></br>
<div class="submit-form">
<%= simple_form_for(@book, html: { multipart: true }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :category_id, collection: Category.all, label_method: :title, value_method: :id,label: "Category", include_blank: false, prompt: "Select a Category" %>
    <%= f.input :title, :placholder => 'Title' %>   
    <%= f.input :release_year, :placeholder => 'Release Year' %>
    <%= f.input :price, placeholder: 'Enter Price' %>
    <%= f.input :description, placeholder: 'description' %> 
    <%= f.input :author, placeholder: 'author' %>
    <%= f.input :isbn %>
    <%= f.input :publisher %> 
    <%= f.label "Upload Image" %>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>  
    <%= f.button :submit %>          
<% end %>

