<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>
 <% form_tag books_path, :method => :get do %>
  <p>
    <% text_field_tag :search, params[:search] %>
    <% submit_tag "Search" %>
  </p>
<% end %>
<button><%= link_to 'New Book', new_book_path %></button>
<table>
  <tbody>
    <% @books.each do |book| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <% if book.image.present? %>
            <%= image_tag book.image.thumb.url, class: "list_image" %>
          <% else %>
            <img class="card-img-top" src="http://placehold.it/100x150" alt="Card image cap">
          <% end %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= book.title %></dt>
            <dd><b>Price: </b><%= book.price %></dd>
            <dd><b>Description: </b><%= truncate(strip_tags(book.description), length: 80) %></dd>
            <dd><b>Year: </b><%= book.release_year %></dd>
            <dd><b>ISBN: </b><%= book.isbn %></dd>
            <dd><b>Author: </b><%= book.author %></dd>
            <dd><b>Publisher: </b><%= book.publisher %></dd>
            <dd><b>Category: </b><%= book.category.title %></dd>
          </dl>
        </td>
        <td class="list_actions">
          <%= link_to 'Show', book %><br>
          <%= link_to 'Edit', edit_book_path(book) %><br>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>

          <%= button_to 'Add to cart', line_items_path(book_id: book), class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
    <hr>
  </tbody>
</table>
<%= will_paginate @books %>
<%= render "carts/cart"%>

