<p id="notice"><%= notice %></p>
<% if @book.image.present? %>
  <%= image_tag @book.image.thumb.url %>
<% else %>
  <img class="card-img-top" src="http://placehold.it/200x300" alt="Card image cap">
<% end %>
    <p>
      <strong>Category:</strong>
      <%= @book.category.title %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong>Release Year:</strong>
      <%= @book.release_year %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @book.description %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @book.price %>
    </p>
    <p>
      <strong>ISBN:</strong>
      <%= @book.isbn %>
    </p>
    <p>
      <strong>Publiser:</strong>
      <%= @book.publisher %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <h4><%= number_to_currency(@book.price) %></h4>
    <%= form_tag(line_items_path(book_id: @book), remote: true, class: "form-inline") do %>
      Quantity: 
      <%= select_tag "quantity", options_for_select(1..10), class: "from-control" %>&nbsp;
      <%= submit_tag 'Add to cart', class: 'btn btn-success', id: @book.id %>
    <% end %>

    <%= link_to 'Edit', edit_book_path(@book), class: 'button' %>
