<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div id="cart-update" class="modal-body">
        <% if @cart.line_items.present? %>
          <h5 align="center" class="text-muted">Your cart</h5>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="cart-table">
              <% @cart.line_items.each do |line_item| %>
                <tr id="line_<%= line_item.id %>">
                  <td><%= link_to line_item.book.title, line_item.book %></td>
                  <td class="quantity"><%= line_item.quantity %></td>
                  <td><%= number_to_currency(line_item.total_price) %></td>
                  <td><%= link_to image_tag("delete4.png"), decrement_line_item_path(id: line_item.id), class: "link-img", remote: true %></td>
                </tr>
              <% end %>
            </tbody>
          </table><hr>

          <h5 id="total" align="center" class="text-muted">
            Total: <%= number_to_currency(@cart.total_price) %>
          </h5><hr>

          <center>
            <%= link_to 'Checkout', new_order_path(cart_id: @cart.id), class: "btn btn-success" %> &nbsp;
            <%= link_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-warning", id: "empty-btn" %>
          </center>
        <% else %>
          <p id="no-quantity" class="text-muted">Your cart is empty!</p>
        <% end %>

      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
  </div>
</div>

<style type="text/css">
  .cart-img {
    width: 100px;
    height: 150px;
  }
</style>