<% if @cart.line_items.present? %>
	<h5 align="center" class="text-muted">Your cart</h5>
	<table class="table table-condensed">

		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @cart.line_items.each do |line_item| %>
				<tr>
				  <td><%= line_item.book.title %></td>
				  <td style="text-align: center;"><%= line_item.quantity %></td>
				  <td><%= number_to_currency(line_item.total_price) %></td>
				  <td><%= link_to image_tag("delete4.png"), decrement_line_item_path(id: line_item.id), class: "link-img", remote: true %></td>
				</tr>
			<% end %>
		</tbody>
	</table><hr>

	<h5 align="center" class="text-muted">
		Total: <%= number_to_currency(@cart.total_price) %>
	</h5><hr>
	<h1 align="right">	
		<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-warning" %>
	</h1>
<% else %>
	<p class="text-muted">Your cart is empty!</p>
<% end %>


