@import 'bootstrap';
@import "font-awesome";

.mega-menu{width: 950px; overflow: hidden; padding: 10px;}
.mega-menu a{text-decoration: none; color: cadetblue;}
.mega-menu .sub-menu-heading{ color: darkcyan;}
@media(max-width:500px){
	.mega-menu{width: 300px;}
}

.cart-box {
	width: 400px;
	padding: 10px;
}

.link-img img {
	width: 70px;
	height: 40px;
	margin-top: -10px;
	margin-left: -30px;
}

.table-condensed {
	font-size: 10pt;
}

.alert {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
}

.card {
	background-color: white;
	font-size: 10pt;
}



.back {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
}

.div-center {
  width: 600px;
  height: 600px;
  background-color: aqua;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 5em;
  border: 3px solid aqua;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

#slides{
  color: grey;
  background-color: grey !important;
}

.carousel{
  color: grey;
  background-color: white !important;
}
.carousel .item{
  color: grey;
  background-color: grey;
}

.wrapper {
  background: linear-gradient(to left);
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -280px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px splid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}
#sidebar ul li.active > a {
  color: #fff;
  background: #6d7fcc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 0px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100px;
    }
    #sidebar.active {
        margin-left: 10;
    }
}

.footer {
  bottom: 0;
  width: 100%;
}