table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 15px;
    vertical-align: top;
  }

  .list_image {
    width:  100px;
    height: 150px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
      padding-bottom: 3px;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_odd {
    background:   aqua;
  }

  .list_line_even {
    background:   #ffffff;
  }

