// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sm-3 {
    /*background-color: blue;*/
    font-size: 10pt;
  }

  .card {
    width: 18rem;
    background-color: aqua;
  }

  .card a {
    font-family: verdana;
    color: green;
  }

  .desc {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 0;
  }