<div class="submit-form">
<%= simple_form_for(@category, :wrapper => :horizontal_form) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :title, :placholder => 'Title' %>   
    <%= f.button :submit %>          
<% end %>

