<p id="notice"><%= notice %></p>
<h3>Categories List</h3>
<table class="table table-striped">
	<th>Title</th>
	<th></th>
	<th></th>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.title %></td>
			<td><%= link_to "Edit", edit_category_path(category) %></td>
			<td><%= link_to "Delete", category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "New Category", new_category_path %>