<tr>
  <td><%= line_item.book.title %></td>
  <td style="text-align: center;"><%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.total_price) %></td>
  <td><%= link_to image_tag("delete4.png"), decrement_line_item_path(id: line_item.id), class: "link-img" %></td>
</tr>

