$("#ajax-cart").html("<%= escape_javascript render('carts/cart') %>");
$("#cart-badge").html("<%= escape_javascript render('carts/cart_badge') %>");

$("#ajax-msg_<%= @book.id %>").html("<%= @quantity %> Item Added").css("display", "block").fadeOut(2000);