$("#line_<%= @line_item.id %>").fadeOut();
$("#cart-badge").html("<%= escape_javascript render('carts/cart_badge') %>");
$("#total").html("Total: <%= number_to_currency(@cart.total_price) %>")

	
<% if @cart.total_price == 0 %>
	$("table").html("");
	$("#empty-btn").css("display", "none");
	$("#total").html("Your cart is empty!");
<% end %>