<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="container">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= link_to image_tag("Book1.png", :alt => "rss feed", :style=>"height:20vw; width:70vw;") %>
      </div>
      <div class="carousel-item">
        <%= link_to image_tag("Book2.jpg", :alt => "rss feed", :style=>"height:20vw; width:70vw;") %>
      </div>
      <div class="carousel-item">
        <%= link_to image_tag("Book3.jpg", :alt => "rss feed", :style=>"height:20vw; width:70vw;") %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <% @books.each do |book| %>
      <div class="col-sm-3"><br>
        <div class="card">
          <div class="ajax-msg" id="ajax-msg_<%= book.id %>" align="center"></div>
          <div class="card-body">
            <% if book.image.present? %>
              <%= image_tag book.image.thumb.url, :size => '200x180' %>
            <% else %>
              <img class="card-img-top" src="http://placehold.it/200x180" alt="Card image cap">
            <% end %>
            <h5 class="card-title" align="center"><%= link_to book.title, book %></h5>
            <h5 class="card-title" align="center"><%= number_to_currency(book.price) %></h5>
            <div align="center">
              <%= form_tag(line_items_path(book_id: book), remote: true, class: "form-inline") do %>
               <%= select_tag "quantity", options_for_select(1..10), class: "from-control" %>&nbsp;
               <%= submit_tag 'Add to cart', id: book.id %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
