<div class="container">
<h5>ABOUT US</h5><br>
<p align="justify">Booksearch, the preferred Inida store for Indian prodcuts where you'll find the latest and greatest books at effordable price. Textbooks, general Books and many more. Our product selection process is rigorous where are carefully researched and handpicked for inclusion in our catalogs. And that is why Booksearch.com is now preferred destination for discerning readers.</p>

<h6><b>Why Shop at Booksearch.com?</b></h6>
<br>
<h6><b>Customer Service</b></h6>
<p align="justify">We are startup e-commerce. We have been serving the world's top notch educational institutions, natural history, software programming and computer developemt.</p>
<br>
<h6><b>Safe and Secure!</b></h6>
<p align="justify">We ensure the integrity of every order by using SHA-2.</p>
<br>
<h6><b>Our Catalogue</b></h6>
<p align="justify">With more than 1000 product to choose from, we have something for every collecting or reading interest and budget from Nonfiction, Computer Software, Medical Books, Textbooks.</p>
<br>
<h6><b>Low Prices</b></h6>
<p align="justify">We offer a quality of service that is rarely seen. We offer a wide range of Indian products which help us keep the cost lowest in the industry.</p>

<div class="container">
<%= render 'layouts/footer' %>
</div>
</div>