<div class="row">
  <div class="col-3 sidebar">
    <ul class="list-group">
      <% @categories.each do |category| %>
      <li class="list-group-item"><%= link_to category.title, store_index_path(category_id: category) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-9">
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-sm-3"><br>
          <div class="card">
            <div class="ajax-msg" id="ajax-msg_<%= book.id %>" align="center"></div>
            <div class="card-body">
              <h5 class="card-title" align="center"><%= link_to book.title, book %></h5>
              <div class="desc">
                <p class="card-text text-muted"><%= book.description %></p>
              </div>
              <h5 class="card-title" align="center"><%= number_to_currency(book.price) %></h5>
              <div align="center">
                <%= form_tag(line_items_path(book_id: book), remote: true, class: "form-inline") do %>
                  Quantity: 
                  <%= select_tag "quantity", options_for_select(1..10), class: "from-control" %>&nbsp;
                  <%= submit_tag 'Add to cart', class: 'btn btn-success', id: book.id %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="footer" align="center">
          <%= will_paginate @books %>
        </div>
      </div>
  </div>
</div>
<style type="text/css">
  .ajax-msg {
    width: 100%;
    height: 50px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background-color: green;
    color: white;
    display: none;
    position: absolute;
    z-index: 1000;
  }

  .sidebar {
    height: 775px;
    overflow: scroll;
  }
</style>
<%= render 'layouts/footer' %>