<div class="container">
	<h2>PRIVACY AND SECURITY</h2><br>
  <h6><b>Your Privacy Matters A Lot</b></h6>
  <br>
  <p align="justify">Booksearch.com is promised to protect your privacy. Becasue we run our bussiness on the customer trust. This policy brief our practices regarding personal and account information collected through our web site. In this policy,"personal and account information implies" your name, company name, account number, address, telephone number and e-mail address that personally identifies you and your purchase history.</p>
  <p align="justify">We reserve the right to modify this privacy and security policy from time to time.You should visit our website time to time to check out any privacy changes.</p>
  <br>
  <h6><b>Collection of Information and How It Is Used</b></h6>
  <br>
  <p align="justify">It's true that must Websites, we gather certain information and store it in database.Those information are internet protocol(IP) addresses, browser type, internet service provider(ISP), operating system, data/time stamp. We use this information, which does not identify users, to analyze trends, to administer the site, to track user's.</p>
  <p align="justify">In order to process transactions we collect customers name, address, phone number and credit information. This information is collected by a shopping cart service and is shared only within our corporation. Once we receive this information all credit card information is deleted from the shopping cart service.</p>
  <p align="justify">If you request additional information or make an online purchase from us, you may receive email from us about online specials and other events. If you do not want to receive email from us in the future, please let us know by sending email to us at the below address and telling us that you do not want to receive email any more from the company. Alternatively, you can use the unsubscribe mechnism within any email received from Booksearch.com</p>
  <br>
  <h6><b>Updating Your Information</b></h6>
  <br>
  <p align="justify">Upon request we provide site visitors with access to unique identifier information(e.g.,customer number or password) that we maintain about them, transaction information that we maintain about them, contact information(e.g.,name,address,phone number) that we maintain about them. Consumers can access or have this information correctly by sending us an email.</p>
  <br>
  <h6><b>Ad Servers</b></h6>
  <p align="justify">We do not partner with any other company with any ad server companies.</p>
  <br>
  <div class="container">
    <%= render 'layouts/footer' %>
  </div>
</div>