<p id="notice"><%= notice %></p>
<div class="container", float: left>
<% if @book.image.present? %>
  <%= image_tag @book.image.thumb.url %>
<% else %>
  <img class="card-img-top" src="http://placehold.it/100x200" alt="Card image cap">
<% end %>
</div>
  <div class="container", float: right>
    <div class="col-sm-3">
    <p>
      <strong>Category:</strong>
      <%= @book.category.title %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong>Release Year:</strong>
      <%= @book.release_year %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @book.description %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @book.price %>
    </p>
    <p>
      <strong>ISBN:</strong>
      <%= @book.isbn %>
    </p>
    <p>
      <strong>Publiser:</strong>
      <%= @book.publisher %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <h4><%= number_to_currency(@book.price) %></h4>
    <%= button_to 'Add to cart', line_items_path(book_id: @book), class: 'btn btn-primary' %>
    </div>
  </div>
