<div class="container">
	<h2>TERMS & CONDITIONS</h2><br>
	<p align="justify">By using this website or ordering any books from us, you acknowledge that you have read and understand these terms and conditions of use("Terms of Use") and agree to be bound by them. We may change or modify these Terms of use from time to time. Thus, please review these terms to ensure your acceptance. If you do not agree to these Terms of Use, you are not authorized to use this website or to purchase any book from us.</p>

	<h6><b>Applicable Law</b></h6>
	<p align="justify">This website is maintained by Booksearch located in Patna. Accordingly, this agreement shall be deemed to have been made in the state of India and shall be governed exclusively by the laws of the state of without reference to principles of conflicts of law.</p>
	<div class="container">
    <%= render 'layouts/footer' %>
  </div>
</div>