<footer class="footer">
  <div class="container">
  	<div class="row">
      <div class="links">
        <div class="block-title">
          <strong>
    	      <span>Company</span>
          </strong>
        </div>
        <ul class="list-unstyled">
  	      <li><%= link_to 'About Us', about_path%></li>
  	      <li><%= link_to 'Contact Us', contact_path%></li>
  	      <li><%= link_to 'Privacy Policy', privacy_path%></li>
  	      <li><%= link_to 'Terms And Conditions', termandcondition_path%></li>
        <ul>
      </div>
      <pre></pre>
      <div class="links">
        <div class="block-title">
          <strong>
    	      <span>Quick Links</span>
          </strong>
        </div>
        <ul class="list-unstyled">
  	      <li><a href="#">Site Map</li>
  	      <li><a href="#">Search Terms</li>
  	      <li><a href="#">Order and Returns</li>
        <ul>
      </div>
    </div>
  </div>
  <div class="copyright-bar">
  	<div class="container">
  		<div class="no-padding social">
  			<ul class="card">
  				<p>PAYMENT METHOD</p>
  				<li>
  					<%= image_tag("img1.png",:style=>"height:2vw; width:2vw;") %>
  					<%= image_tag("img2.png",:style=>"height:2vw; width:2vw;") %>
  					<%= image_tag("img3.jpg",:style=>"height:2vw; width:2vw;") %>
  			  </li>
  			</ul>
  		</div>
  		<div class="payment-methodes">
  			<ul class="soc-icon">
  				<div class="com-name ">Follow Us:</div>
  				<li>
  					<a target="_blank" href="https://www.facebook.com/booksearch.com" title="Facebook Booksearch">
  					</a>
  		
  					<a target="_blank" href="https://www.twitter.com/booksearch.com" title="Facebook Booksearch">
  					</a>
  					<%= image_tag("twitter.jpg") %>

  					<a target="_blank" href="https://www.linkedin.com/booksearch.com" title="Facebook Booksearch">
  					</a>
  					<%= image_tag("linked.png",:style=>"height:2vw; width:2vw;") %>
  				</li>
  			</ul>
  		</div>
  	</div>
  	<center><address>@ 2018 BookSearch.com All Rights Reserved.</address></center>
  </div>
</footer>