<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BOOKSEARCH<%= fa_icon "shopping-cart 2x" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to "Admin", admin_root_path, target: :_blank %>
      </li>
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
          <div class="row">
            <% @categories.take(6).each do |category| %>
              <div class="col-md-2">
              <strong class="sub-menu-heading"><%= category.title %></strong><hr>
                <% category.books.take(5).each do |book| %>
                  <%= link_to book.title, book, class: "book-link-nav" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </li>
      <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>  
    </p>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to get_cart_path, remote: true, class: "nav-link" do %>
          <%= fa_icon "shopping-cart 2x" %>
          <span id="cart-badge" class="badge badge-warning"><%= @cart.line_items.present? ? @cart.line_items.count : "" %></span>
        <% end %>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item">
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>&nbsp;&nbsp;
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>       
    </ul>
  </div>
</nav>

<style type="text/css">
  a.book-link-nav {
    color:red;
    display: block;
  }

  .badge {
    position: absolute;
    margin: -40px 32px;
  }
</style>

<script type="text/javascript">
  $('div.dropdown-menu').on('click', function(event){
    // The event won't be propagated up to the document NODE and 
    // therefore delegated events won't be fired
    event.stopPropagation();
});
</script>
