<!DOCTYPE html>
<html>
  <head>
    <title>Booksearch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div style="text-align: center;" class="alert alert-<%= key %>">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= value %>
      </div>
    <% end %>
    <div id="login-modal" class="modal fade"></div>
    <div id="cart-modal" class="modal fade"></div>
    <div class="container-fluid">
      
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
</html>



